{{ define "main" }}

<main class="article">

    {{ $hasTitle := ne .Title "" }}
    {{ $hasDate := not .PublishDate.IsZero }}
    {{ if or $hasTitle $hasDate }}
    <header class="article-header">
        {{ if $hasTitle }}
        <h1>{{ .Title }}</h1>
        {{ end }}

        {{ if $hasDate }}
        <p class="article-date">
            <time datetime="{{ .PublishDate.Format "2006-01-02" }}">
                {{ partial "formatted-date.html" (dict "date" .PublishDate "site" .Site) }}
            </time>
        </p>
        {{ end }}
    </header>
    {{ end }}

    <div class="article-content">
        {{ .Content }}
    </div>

</main>

{{ end }}
