{{ define "churchTable" }}
<table class="church-table">

  {{ $showJurisdiction := .showJurisdiction }}
  {{ $rows := .rows }}


  <thead>
  <tr>
    <th>name</th>
    <th>location</th>
    <th>photos</th>
    {{ if $showJurisdiction }}
    <th>jurisdiction</th>
    {{ end }}
  </tr>
  </thead>

  <tbody>
  {{ range $rows }}

  {{ $name := .name | lower | replaceRE " " "-" }}
  {{ $loc := .location | lower | replaceRE "," "" | replaceRE " " "-" }}
  {{ $slug := printf "%s-%s" $name $loc }}

  <tr>
    <td>{{ .name }}</td>
    <td>{{ .location }}</td>
    {{ if $showJurisdiction }}
    <td>{{ .jurisdiction | default "—" }}</td>
    {{ end }}

    <td>

      {{ $dir := printf "static/churches/%s" $slug }}

      <div class="thumbs">
        {{ if (fileExists $dir) }}
        {{ $files := readDir $dir }}
        {{ range sort $files "Name" }}
        <img src="/churches/{{ $slug }}/{{ .Name }}" loading="lazy">
        {{ end }}
        {{ end }}
      </div>

    </td>
  </tr>

  {{ end }}

  </tbody>

</table>
{{ end }}

{{ define "main" }}

<h2>Roman Catholic</h2>
{{ template "churchTable" (dict
"rows" .Site.Data.churches.roman_catholic
"showJurisdiction" false
) }}

<h2>Other</h2>
{{ template "churchTable" (dict
"rows" .Site.Data.churches.other
"showJurisdiction" true
) }}

{{ end }}