{{- $destination := urls.Parse .Destination -}}
{{- $href := .Destination -}}
{{- if and (eq $destination.Host "") (hasPrefix $destination.Path "/") -}}
    {{- with .Page.Site.GetPage $destination.Path -}}
        {{- $href = .RelPermalink -}}
    {{- end -}}
{{- end -}}
{{- $newTab := or
    (eq $destination.Host "art.toryleone.com")
    (hasSuffix $destination.Path "/files/resume.pdf")
    (eq $destination.Host "github.com")
-}}
<a href="{{ $href | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}{{ if $newTab }} target="_blank" rel="noopener noreferrer"{{ end }}>{{ .Text | safeHTML }}</a>
