html:has(body.albums) {
    background: black;
}

body.albums {
    margin: 0;
    overflow: auto;
    scroll-behavior: auto;
}

.album-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.album-image {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
}


/* MOBILE */
@media (max-width: 768px) {
    .album-page {
        padding-top: var(--spacing-xl);
        display: block;
    }
    .album-image {
        max-width: 180vw;
        max-height: 180vh;
    }
}