.church-table {
    width: 100%;
    border-collapse: collapse;
}

.church-table th {
    border-bottom: 2px solid var(--color-ivory);
    padding: .8rem;
    vertical-align: top;
    text-align: left;
}

.church-table td {
    border-bottom: 1px solid var(--color-ivory);
    padding: .8rem;
    vertical-align: top;
}

.thumbs {
    display: flex;
    gap: .3rem;
    flex-wrap: wrap;
}

.thumbs img {
    width: 100px;
    height: 100px;

    object-fit: cover;

    border-radius: 8px;
}