<!DOCTYPE html>
<html lang="{{ .Site.Language.Name }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}</title>

    <meta
            name="description"
            content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}"
    >

    <link rel="icon" type="image/svg+xml" href="{{ "icons/parthenon-greece.svg" | absURL }}">

    {{ $cssFiles := slice
    "css/base/_variables.css"
    "css/base/_reset.css"
    "css/base/_style.css"
    "css/components/language-dropdown.css"
    "css/components/music-player.css"
    }}

    {{ $layout := .Layout | default "default" }}
    {{ $layoutCSS := printf "css/pages/%s.css" $layout }}

    {{ with resources.Get $layoutCSS }}
    {{ $cssFiles = $cssFiles | append $layoutCSS }}
    {{ end }}

    {{ $styles := slice }}

    {{ range $cssFiles }}
    {{ $resource := resources.Get . }}
    {{ if $resource }}
    {{ $styles = $styles | append $resource }}
    {{ end }}
    {{ end }}

    {{ $bundleName := printf "css/main-%s.css" $layout }}

    {{ $cssBundle := $styles
    | resources.Concat $bundleName
    | resources.Minify
    | resources.Fingerprint
    }}

    <link
            data-site-styles
            rel="stylesheet"
            href="{{ $cssBundle.RelPermalink }}"
            integrity="{{ $cssBundle.Data.Integrity }}"
    >

    {{/* PhotoSwipe CSS */}}
    {{ if eq .Layout "churches" }}
    <link
            data-page-style
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/photoswipe@5/dist/photoswipe.css"
    >
    {{ end }}
</head>

<body class="{{ .Layout }}">

{{ partial "header.html" . }}

<div id="site-content">
{{ block "main" . }}
{{ end }}
</div>

{{ partial "music_player.html" . }}

{{ $jsFiles := slice
    "js/site-navigation.js"
    "js/music-player.js"
    "js/bookshelf.js"
    "js/webring.js"
}}
{{ $jsResources := slice }}
{{ range $jsFiles }}
    {{ with resources.Get . }}
        {{ $jsResources = $jsResources | append . }}
    {{ end }}
{{ end }}
{{ $siteJS := $jsResources
    | resources.Concat "js/site.js"
    | resources.Minify
    | resources.Fingerprint
}}
<script
        src="{{ $siteJS.RelPermalink }}"
        integrity="{{ $siteJS.Data.Integrity }}"
        defer
></script>

{{ $churchesJS := resources.Get "js/churches.js" | resources.Minify | resources.Fingerprint }}
<script
        type="module"
        src="{{ $churchesJS.RelPermalink }}"
        integrity="{{ $churchesJS.Data.Integrity }}"
></script>

</body>
</html>
