<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}</title>

    <meta
            name="description"
            content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}"
    >

    <link rel="icon" href="{{ "favicon.ico" | absURL }}">

    {{ $cssFiles := slice
    "css/base/_variables.css"
    "css/base/_reset.css"
    "css/base/_style.css"
    "css/components/language-dropdown.css"
    }}

    {{ $layout := .Layout | default "default" }}
    {{ $layoutCSS := printf "css/pages/%s.css" $layout }}

    {{ with resources.Get $layoutCSS }}
    {{ $cssFiles = $cssFiles | append $layoutCSS }}
    {{ end }}

    {{ $styles := slice }}

    {{ range $cssFiles }}
    {{ $resource := resources.Get . }}
    {{ if $resource }}
    {{ $styles = $styles | append $resource }}
    {{ end }}
    {{ end }}

    {{ $bundleName := printf "css/main-%s.css" $layout }}

    {{ $cssBundle := $styles
    | resources.Concat $bundleName
    | resources.Minify
    | resources.Fingerprint
    }}

    <link
            rel="stylesheet"
            href="{{ $cssBundle.RelPermalink }}"
            integrity="{{ $cssBundle.Data.Integrity }}"
    >

    {{/* PhotoSwipe CSS */}}
    {{ if eq .Layout "churches" }}
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/photoswipe@5/dist/photoswipe.css"
    >
    {{ end }}
</head>

<body class="{{ .Layout }}">

{{ partial "header.html" . }}

{{ block "main" . }}
{{ end }}

{{ if eq .Layout "bookshelf" }}
{{ $bookshelfJS := resources.Get "js/bookshelf.js" | js.Build }}
<script src="{{ $bookshelfJS.RelPermalink }}"></script>
{{ end }}

{{ if eq .Layout "churches" }}
<script type="module">
    import PhotoSwipeLightbox from 'https://cdn.jsdelivr.net/npm/photoswipe@5/dist/photoswipe-lightbox.esm.js';

    const lightbox = new PhotoSwipeLightbox({
        gallery: '.pswp-gallery',
        children: 'a',
        pswpModule: () => import(
            'https://cdn.jsdelivr.net/npm/photoswipe@5/dist/photoswipe.esm.js'
            )
    });

    lightbox.init();
</script>
{{ end }}

</body>
</html>