{{ if gt (len .Site.Languages) 1 }}

<div class="lang-dropdown">

    <button class="lang-btn">
        <img src='{{ "images/icons/globe.svg" | relURL }}' alt="🌐" />
        <img src='{{ "images/icons/arrow-down.svg" | relURL }}' alt="▼" />
    </button>

    <div class="lang-menu">

        {{ range .Page.AllTranslations }}
        <a href="{{ .RelPermalink }}" class="lang-item">
            {{ if eq .Language.Lang "en" }}
            <img src='{{ "images/icons/flags/us.svg" | relURL }}' alt="English"/>
            {{ else if eq .Language.Lang "pt" }}
            <img src='{{ "images/icons/flags/br.svg" | relURL }}' alt="Português"/>
            {{ end }}
        </a>
        {{ end }}

    </div>

</div>

{{ end }}