{{ if gt (len .Site.Languages) 1 }}

<div class="lang-dropdown">

    <!-- button face -->
    <button class="lang-btn">
        <span class="icon">
            {{ readFile "static/icons/globe.svg" | safeHTML }}
        </span>
        <span class="icon">
            {{ readFile "static/icons/arrow-down.svg" | safeHTML }}
        </span>
    </button>

    <div class="lang-menu">

        {{ $current := .Page.Language.Lang }}
        {{ range .Page.AllTranslations }}
        {{ $lang := .Language.Lang }}

        <div class="lang-item">

            {{ if eq $lang $current }}
            <!-- current language -->
            <span class="lang-active">
                        {{ if eq $lang "en" }}
                            <span class="icon">
                                    {{ readFile "static/icons/flags/us.svg" | safeHTML }}
                            </span>
                        {{ else if eq $lang "pt" }}
                            <span class="icon">
                                    {{ readFile "static/icons/flags/br.svg" | safeHTML }}
                            </span>
                        {{ end }}
                    </span>

            {{ else }}
            <!-- inactive language -->
            <a href="{{ .RelPermalink }}" class="lang-link">
                {{ if eq $lang "en" }}
                <span class="icon">
                    {{ readFile "static/icons/flags/us.svg" | safeHTML }}
                </span>
                {{ else if eq $lang "pt" }}
                <span class="icon">
                    {{ readFile "static/icons/flags/br.svg" | safeHTML }}
                </span>
                {{ end }}
            </a>
            {{ end }}

        </div>

        {{ end }}

    </div>

</div>

{{ end }}