{{ $translatedPages := slice }}
{{ range .Page.Rotate "language" }}
    {{ if or .File .Site.Home.File }}
        {{ $translatedPages = $translatedPages | append . }}
    {{ end }}
{{ end }}

{{ if and (or .Page.File .Page.Site.Home.File) (gt (len $translatedPages) 1) }}

<div class="lang-dropdown">

    <!-- button face -->
    <button
            class="lang-btn"
            type="button"
            aria-label="Choose language"
            aria-haspopup="true"
    >
        <span class="icon">
            {{ readFile "static/icons/globe.svg" | safeHTML }}
        </span>
        <span class="icon">
            {{ readFile "static/icons/arrow-down.svg" | safeHTML }}
        </span>
    </button>

    <div class="lang-menu">

        {{ $current := $.Page.Language.Name }}
        {{ range $translatedPages }}
        {{ $lang := .Language.Name }}
        {{ $languageName := .Language.Params.languageName | default $lang }}
        {{ $flag := .Language.Params.flag | default $lang }}
        {{ $flagPath := printf "static/icons/flags/%s.svg" $flag }}

        <div class="lang-item">

            {{ if eq $lang $current }}
            <!-- current language -->
            <span class="lang-active" aria-current="page" aria-label="{{ $languageName }}" title="{{ $languageName }}">
                <span class="icon">
                    {{ readFile $flagPath | safeHTML }}
                </span>
            </span>

            {{ else }}
            <!-- inactive language -->
            <a
                    href="{{ .RelPermalink }}"
                    class="lang-link"
                    data-language="{{ $lang }}"
                    aria-label="{{ $languageName }}"
                    title="{{ $languageName }}"
            >
                <span class="icon">
                    {{ readFile $flagPath | safeHTML }}
                </span>
            </a>
            {{ end }}

        </div>

        {{ end }}

    </div>

</div>

{{ end }}
