{{ return (dict
    "USA" (dict
        "alabama" (slice ", al")
        "alaska" (slice ", ak")
        "arizona" (slice ", az")
        "arkansas" (slice ", ar")
        "california" (slice ", ca")
        "colorado" (slice ", co")
        "connecticut" (slice ", ct")
        "delaware" (slice ", de")
        "district of Columbia" (slice ", d.c" ", dc")
        "florida" (slice ", fl")
        "georgia" (slice ", ga")
        "hawaii" (slice ", hi")
        "idaho" (slice ", id")
        "illinois" (slice ", il")
        "indiana" (slice ", in")
        "iowa" (slice ", ia")
        "kansas" (slice ", ks")
        "kentucky" (slice ", ky")
        "louisiana" (slice ", la")
        "maine" (slice ", me")
        "maryland" (slice ", md")
        "massachusetts" (slice ", ma")
        "michigan" (slice ", mi")
        "minnesota" (slice ", mn")
        "mississippi" (slice ", ms")
        "missouri" (slice ", mo")
        "montana" (slice ", mt")
        "nebraska" (slice ", ne")
        "nevada" (slice ", nv")
        "new Hampshire" (slice ", nh")
        "new Jersey" (slice ", nj")
        "new Mexico" (slice ", nm")
        "new York" (slice ", ny")
        "north Carolina" (slice ", nc")
        "north Dakota" (slice ", nd")
        "ohio" (slice ", oh")
        "oklahoma" (slice ", ok")
        "oregon" (slice ", or")
        "pennsylvania" (slice ", pa")
        "rhode Island" (slice ", ri")
        "south Carolina" (slice ", sc")
        "south Dakota" (slice ", sd")
        "tennessee" (slice ", tn")
        "texas" (slice ", tx")
        "utah" (slice ", ut")
        "vermont" (slice ", vt")
        "virginia" (slice ", va")
        "washington" (slice ", wa")
        "west Virginia" (slice ", wv")
        "wisconsin" (slice ", wi")
        "wyoming" (slice ", wy")
    )
    "Brazil" (dict
        "minas Gerais" (slice "monte verde,")
        "paraná" (slice "curitiba,")
        "são Paulo" (slice "aparecida," "itu," "são caetano do sul," "são paulo,")
    )
    "Italy" (dict
        "campania" (slice "amalfi," "bracigliano," "mercato san severino," "mercogliano," "naples," "pompei," "salerno," "sorrento,")
        "lazio" (slice "rome,")
        "toscana" (slice "florence," "siena,")
        "trentino-Alto Adige/Südtirol" (slice "val gardena,")
        "umbria" (slice "assisi,")
        "veneto" (slice "venice,")
    )
) }}
